/* ===============
   Base Reset + Box Sizing
   =============== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
    color: #333;
}

body {
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    color: #ff6f61;
}

.cart-icon {
    font-size: 1.2rem;
}

/* Main Content */
.content {
    flex: 1;
    /* Main Contenti genisletiyor , footer bu sayede e alta iniyor yoksa ortasi bos olurdu */
    padding: 2rem 0;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: #ff6f61;
}

.footer p {
    font-size: 0.8rem;
}